* {
	margin: 0px;
	padding: 0px; }

body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.container {
	box-shadow: 7px 7px 20px #b8b8b8;
	width: 1366px;
	position: relative;
	padding: 0px;
}

#header {
	width: 100%;
	padding-top: 40px;
	margin: 0px;
	opacity: 0;
}


.headerhome {
	background-image: url(../img/header_home.jpg);
	height: 230px;
}

.headerwork {
	background-color: green;
	height: 130px;
	width: 80%;
	margin: 0px auto;
}

#content {
	position: relative;
	min-height: 900px;
}

#footer {
	z-index: 99;
	width: 100%;
	bottom: 0px;
	background-color: #ec2700;
}
