* {
	margin: 0px;
	padding: 0px; }

/* HOME */
.home {
	background-image: url(../img/home.jpg);
	margin: 0 auto;
	position: relative;
	height: 1130px;
}

.twitter {
	position: relative;
	top: -90px;
	left: -38px;
}

.facebook {
	position: relative;
	top: -23px;
	left: -75px;
}

.phone {
	position: relative;
	top: 28px;
	left: -95px;
}

.email {
	position: relative;
	top: 62px;
	left: -100px;
}

.projects {
	position: relative;
	top: 330px;
	left: 390px;
	transform:rotate(-3deg);
}

.projects_text {
	position: absolute;
	top: 60px;
	left: 40px;
	width: 260px;
}

.projects_postit {
	//position: absolute;
	top: 0;
	left: 0;
	
}

/* HOME WELCOME */
#welcome {
	position: absolute;
	top: 50px;
	right: 40px;
}

#welcome h1 {
	text-align: center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

#welcome p {
	text-align: center;
	font-size: 0.4em;
	letter-spacing: 4px;
	line-height: 115%;
	padding-top: 5px;
}

/* INDEX END */



/* NAV */
#nav {
	display: table;
	margin: 0 auto;
	margin-top: 9px;
	margin-bottom: 30px;
}

#nav a {
	text-decoration: none;
	color: #f2f2f2;
	padding: 12px 18px;
	text-align: center;
	font-size: 1.5em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius:1em;
}

#nav .home_nav {
	background: #fff;
	color: #000;
}

#nav .web_nav {
	background: #1b03b1;
}

#nav .grafics_nav {
	background: #a00101;
}

#nav .drawings_nav {
	background: #6d004d;
}

#nav .contact_nav {
	background: #fff;
	color: #000;
}

	
/* WORK */
.work {
	background-image: url(../img/work.jpg);
	padding: 0px 40px;
}

.work img {
	display: table;
	//box-shadow: 6px 6px 10px #000;
	margin: 0 auto;
	//max-height: 250px;
	max-width: 400px;
}

.postit {
	background-image: url(../img/postit.png);
	background-repeat: no-repeat;
	margin-left: 8px;
	padding: 10px;
	height: 400px;
	width: 90%;
}

.postit_small {
	background-image: url(../img/postit_small.png);
	background-repeat: no-repeat;
	margin-left: 40px;
	margin-top: 5px;
	padding: 1px;
	height: 65px;
	width: 290px;
}

.work div > h1 {
		font-size: 1.2em;
		margin: 25px 0px 10px 35px;
		color: #000;
		font-weight: bold;
		letter-spacing: 2px;
		font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
		}

.work div > p {
		width: 85%;
		font-size: 0.9em;
		color: #767676;
		margin: 0px 0px 13px 37px;
		padding-right: 40px;
		line-height: 28px;
}

.work .row {
		display: block;
		margin: 0px auto;
}

.hidden {
	display: none;
}

.block {
	padding-top: 15px;
	padding-bottom: 5px;
}

/* WEB */
.web {
	top: 0px;
	left: 0px;
	padding: 30px;
}


/* GRAFICS */
.grafics {
	top: 0px;
	left: 0px;
	padding: 30px;
}


/*
figure {
	position: relative;
}

figcaption {
    position: absolute;
	width: 80%;
    top: 0;
    left: 35px;
	text-align: center;
    background: #2c3f52;
    color: #ed4e6e;
	opacity: 0;
    backface-visibility: hidden;
    transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
}


.cs-style li:first-child { z-index: 6; }
.cs-style li:nth-child(2) { z-index: 5; }
.cs-style li:nth-child(3) { z-index: 4; }
.cs-style li:nth-child(4) { z-index: 3; }
.cs-style li:nth-child(5) { z-index: 2; }
.cs-style li:nth-child(6) { z-index: 1; }


.cs-style figure img {
    z-index: 10;
}


.cs-style figure:hover figcaption,
.cs-style figure.cs-hover figcaption {
    opacity: 1;    
    box-shadow: 0 0 0 10px #2c3f52;
} */

/* DRAWINGS */
.drawings {
	top: 0px;
	left: 0px;
	padding: 30px;
}
