* {
	margin: 0px;
	padding: 0px; }

/* HEADER */
#header a {
	text-decoration: none;
	color: #000;
	text-align: center;
	font-size: 2.2em;
}

#header a:hover {
	transform: translateY(-10px);
	/*border-bottom: 2px dotted black; */
}


/* HOME */
.home {
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	margin: 0 auto;
}

.bg_bubble {
	margin-left: 849px;
	margin-top: 110px;
}


/* HOME WELCOME */
#welcome h1 {
	margin-top: 160px;
	text-align: center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

#welcome .img {
	margin-top: -40px;
	margin-left: -110px;
	padding: 0px;
	max-width: 350px;
	//border-radius: 80%;
	//box-shadow: 6px 6px 20px #737373;
}

#welcome p {
	margin-top: 20px;
	text-align: center;
	font-size: 0.5em;
	letter-spacing: 4px;
	line-height: 115%;
}

.bubbles {
	position: relative;
	opacity: 0.9;
	float: right;
	top: 500px;
}

	._bubble1 {
		width: 60px;
		bottom: 0px;
	}

	._bubble2 {
		top: 130px;
	}

	._bubble3 {
		width: 40px;
	}


/* HOME Projects Button */
.projects {
	position: absolute;
	top: 500px;
	left: 20%;
}


/* WORK NAV */
.nav a {
	text-decoration: none;
	color: #f2f2f2;
	color: #fff;
	text-align: center;
	padding: 10px 15px;
	font-size: 1.3em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius:1em;
}

.nav .web {
	background: #1b03b1;
}

.nav .grafics {
	background: #a00101;
}

.nav .drawings {
	background: #6d004d;
}


/* WORK */

.work img {
	max-width:300px;
	align: center;
	}

.work div > p {
		font-size: 1.1em;
		color: #767676;
		margin-left: 10px;
	}

.work div > h1 {
		font-size: 1.5em;
		margin-top: -5px;
		margin-left: 10px;
		background: #00ccff;
		border-radius: 6px;
		padding: 5px;
	}

.work .row {
		display: block;
		margin: 0 auto;
		background: #fff;
		padding: 15px;
}

.hidden {
		display: none;
}

/* WORK DESCRIPTION */
.description {
		padding: 20px 40px;
		margin: 20px;
		margin-top: 50px;
		border-radius: 75px;
		box-shadow: 7px 7px 10px #4b4b4b;
		font-size: 1.1em;
		line-height: 125%;
		color: #fff;
		font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	}


/* WEB */
#content .web {
	top: 0px;
	left: 0px;
	padding: 30px;
}

.web .description {
	background: #1b03b1;
}

.web .block {
	//border-bottom: 2px dotted #ccc;
	padding-top: 25px;
	padding-bottom: 15px;
}


/* GRAFICS */
#content .grafics {
	top: 0px;
	left: 0px;
	padding: 30px;
}

.grafics .description {
	background: #a00101;
}


/* DRAWINGS */
#content .drawings {
	top: 0px;
	left: 0px;
	padding: 30px;
}

.drawings .description {
	background: #6d004d;
}


 /* FOOTER */
#footer p {
	padding: 5px;
	color: #ffffff;
	word-spacing: 3px;
}
